body {
  background-image: url("/static/background.jpg");
  text-align: center;
}

#fetch-data {
  height: 30px;
  min-width: 24px;
  padding: 0 20px;
  background-color: #006eff;
  color: #fff;
  border: 1px solid #006eff;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  outline: 0 none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 12px;
  vertical-align: middle;
  white-space: nowrap;
}

#title {
  margin-top: 200px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 20px;
}
